* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212; 
    color: #fff; 
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins, sans-serif;
}

.navbar-left ul,
.navbar-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-left li,
.navbar-right li {
    display: inline;
    margin-right: 20px;
}

.navbar-left li:last-child,
.navbar-right li:last-child {
    margin-right: 0;
}

.navbar-right {
    text-align: right;
}

.navbar-right a {
    color: #1DB954; 
    text-decoration: none;
}

#videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
}

.video {
    position: relative;
    width: calc(20% - 20px); 
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.video img {
    width: 100%;
    height: auto;
}

.video-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.video:hover .video-content {
    opacity: 1;
}

.video-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white; 
}

.video-description {
    font-size: 12px;
    color: white; 
}

.video-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.video-play-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.video-play-button img {
    width: 40px;
    height: 40px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #1a1a1a; 
    color: #fff;
}

h1 {
    color: #1DB954; 
}

.navbar {
    background-color: #1a1a1a;
}

.navbar__container {
    width: 100%;
    max-width: 85vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
}

.navbar__logo {
    width: 25%;
}

.navbar__logo img {
width: 85%;
}

.navbar__links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navbar__links .navbar__link {
    color: rgba(255,255,255,.5);
    text-decoration: none;
    transition: all .3s ease;
}

.navbar__links .navbar__link:hover {
    color: rgb(27, 224, 9);
}

.navbar__cta {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.navbar__cta .navbar__search {
    height: 25px;
    width: 300px;
    padding: 15px 25px;
    background-color: #1a1a1a;
    outline: none;
    border: 2px solid #3a3a3a;
    border-radius: 25px;
    color: #5a5a5a;
    transition: all .3s ease;
}

.navbar__cta .navbar__search:focus {
    border: 2px solid #5a5a5a;
}

.navbar__cta .navbar__search::placeholder {
    color: #5a5a5a;
}